<div class="login">
  <%= render 'shared/header_form', title: 'Login', path: root_path %>
  <%= render 'shared/header_desktop' %>
  <%= render 'shared/messages' %>

  <div class="form">
    <%= simple_form_for(:session, url: login_path, html: { multipart: true, class: "form__body"}) do |f| %>
      <div class="form__input">
        <%= f.input :username, placeholder: 'Username', label: false, input_html: { class: 'form__input--field' } %>
      </div>

      <div class="form__input">
        <%= f.submit "Log In", class: "button btn-blue" %>
      </div>
    <% end %>
  </div>
</div>
