<div class="group">
  <%= render 'shared/menu', title: 'Groups' %>
  <%= render 'shared/navigation_desktop' %>
  <%= render 'shared/messages' %>
  <div class="group__container">
    <% @groups.each do |g| %>
      <div class="group__detail">
        <div class="group__right">
          <span>
            <%= g.name.upcase %>
          </span>
          <span>
            <%= g.created_at.strftime("%Y %B %d") %>
          </span>
        </div>
        <%= link_to group_path(g), class: "group__image" do %>
          
          <img src="<%= g.icon %>" alt="">
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="group__button-container">
    <%= link_to 'Create new Group', new_group_path, class: 'button btn-green group__create' %>
  </div>
</div>

