<%= javascript_pack_tag 'script' %>
<%= render 'shared/navigation_desktop' %>
<div class="login group-create-desktop">
  <%= render 'shared/header_form', title: 'Groups', path: groups_path %>
  <%= render 'shared/messages'%>
  <div class="form">
    <%= simple_form_for @group, validate: false, html: { multipart: true }  do |f| %>
      <div class="form__input">
        <%= f.input :name, placeholder: 'Group name', label: false, input_html: { class: 'form__input--field' } %>
      </div>

      <div class="form__input__file">
        <%= f.file_field :icon, placeholder: 'Select your icon', label: false, input_html: { class: 'form__input--field' } %>
      </div>

      <div class="form__input">
        <%= f.submit "Create", class: "button btn-blue" %>
      </div>
    <% end %>
  </div>
</div>