<div class="purchase">
  <%= render 'shared/menu', title: 'External Transactions' %>
  <div class="purchase__total">
    <span>
      Total Amount:
    </span>
    <span>
      $ <%= @total %>.00
    </span>
  </div>
  <div class="purchase__container">
    <% @transactions.each do |t| %>
      <div class="purchase__detail">
        <div class="purchase__right align-items-start">
          <span>
            <%= t.name.upcase %>
          </span>
          <span>
            <%= t.created_at.strftime("%Y %B %d") %>
          </span>

          <div class="purchase__right__price">   
            <span>
              $ <%= t.amount %> .00
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="purchase__button-container">
    <%= link_to 'Register new Purchase', new_purchase_path, class: 'button btn-green purchase__create' %>
  </div>
</div>
