<div class="dashboard">
  <div class="dashboard__picture">
    <%= gravatar_for @user, size:50 %>
    <h2><%= @user.name %></h2>
  </div>

  <ul class="dashboard__menu">
    <li class="dashboard__menu__item">
      <%= link_to purchases_path do %> 
        <div class="circle">
          <%= image_tag 'transaction.png' %>
        </div>
        <div class="link">
          <span>transactions</span>
        </div>
      <% end %>
    </li>
    <li class="dashboard__menu__item">
      <%= link_to external_transactions_path do %> 
      <div class="circle">
        <%= image_tag 'external.png' %>
      </div>
      <div class="link">
        <span>external transactions</span>
      </div>
      <% end %>
    </li>
    <li class="dashboard__menu__item">
      <%= link_to groups_path do %> 
      <div class="circle">
        <%= image_tag 'group.png' %>
      </div>
      <div class="link">
        <span>groups</span>
      </div>
      <% end %>
    </li>
  </ul>

  <div class="dashboard__button-container">
    <%= link_to 'Sign Out', logout_path, class: "button btn-blue" %>
  </div>
</div>

<%= render 'shared/navigation_desktop' %>
<div class="cover_background">
  <%= image_tag('group.png') %>
  <%= link_to 'Create a new purchase', new_purchase_path, class: "button" %>
</div>