<%= javascript_pack_tag 'script' %>
<div class="purchase">
  <%= render 'shared/menu', title: 'Transactions' %>
  <%= render 'shared/navigation_desktop' %>
  <%= link_to 'Register new Purchase', new_purchase_path, class: 'button btn-green purchase__create__desktop' %>
  <div class="purchase__total">
    <span>
      Total Amount:
    </span>
    <span>
      $ <%= @total %>.00
    </span>
  </div>
  <% if @purchases.count == 0 && current_user.groups.count == 0 %>
    <h3 class="purchase__start">Start making transactions by creating a group <%= link_to 'here', new_group_path %></h3>
  <% end %>
  <%= render 'shared/messages' %>
  <div class="purchase__container">
    <%= render @purchases %>
  </div>
  <div class="purchase__button-container">
    <%= link_to 'Register new Purchase', new_purchase_path, class: 'button btn-green purchase__create' %>
  </div>
</div>