<%= javascript_pack_tag 'script' %>
<%= render 'shared/navigation_desktop' %>
<div class="login">
  <%= render 'shared/header_form', title: 'Transaction', path: purchases_path %>
  <%= render 'shared/messages'%>
  <div class="form">
    <%= simple_form_for @purchase do |f| %>
      <div class="form__input">
        <%= f.input :name, placeholder: 'Transaction concept', label: false, input_html: { class: 'form__input--field' } %>
      </div>

      <div class="form__input">
        <%= f.number_field :amount, placeholder: 'Amount', label: false, class: 'form__input--number' %>
      </div>

      <div class="form__input__select">
        <%= f.input :group_id, :collection => Group.all, :value_method => :id, :label => "Select a Group" %>
      </div>

      <div class="form__input">
        <%= f.submit "Create", class: "button btn-blue" %>
      </div>
    <% end %>
  </div>
</div>