<%= javascript_pack_tag 'script' %>
<% if flash.any? %>
  <% flash.each do |name, msg| %>
    <div class="notification <%= name %>">
      <div class="notification__icon">
        <% if name == 'danger' %>
          <%= image_tag 'alert.png' %>
        <% else %>  
          <%= image_tag 'ok.png' %>
        <% end %>
      </div>
      <p class="notification__message">
        <%= msg %>
      </p>
    </div>
  <% end %>
<% end %> 
