<div class="navegation-desktop">
  <div class="navegation-desktop__menu">
    <ul>
      <li><%= link_to 'Transactions', purchases_path %></li>
      <li><%= link_to 'External Transactions', external_transactions_path %></li>
      <li><%= link_to 'Groups', groups_path %></li>
    </ul>
    <div class="navegation-desktop__menu__button">
      <div class="log_out">
        <%= link_to 'Sign Out', logout_path %>
      </div>
    </div>
  </div>
  
  <div class="cover_background">
    <%= image_tag('group.png') %>
    <%= link_to 'Create a new purchase', new_purchase_path, class: "button" %>
  </div>
</div>